*{
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
/*头部导航*/
.header-nav {
	width: 1200px;
	height: 75px;
	margin: 0 auto;
	position: relative;
}
.header-nav  .logo {
	float: left;
}
.header-nav .right {
	float: right;
	overflow: hidden;
	
}
.header-nav a{
	position: relative;
	height: 40px;
	display: block;
	float: left;
	width: 80px;
	margin-left: 20px;
	margin-top: 20px;
	height: 30px;
	z-index: 111;
}
.header-nav  a:nth-of-type(4) span{
	color: red;
}

.header-nav a span{
	display: block;
	width: 100px;
	height: 30px;
	transition: all 0.5s;
	top: 5px;
	position: absolute;
	color: #666;
	
}
.header-nav a:hover span  {
	top: -50px;
	color: red;
	transition: all 0.5s;
} 

.header-nav a small {
	display: block;
	width: 100px;
	height: 30px;
	transition: all 0.5s;
	top: 100px;
	position: absolute;
	color: #666;
}
.header-nav a:hover small {
	top: 8px;
	color: red;
}
.header-nav a:nth-of-type(10){
	position: relative;
}
.header-nav  a i {
	position: absolute;
	display: inline-block;
	background: url(../images/img-map.png)no-repeat;
	width: 19px;
	height: 11px;
	top: -2px;
	left: 60px;
}
.header-nav  a em {
	position: absolute;
	display: inline-block;
	background: url(../images/img-map.png)no-repeat -19px 0;
	width: 17px;
	height: 11px;
	top: 10px;
	left: -20px;
	z-index: 112;
}
/*下拉列表导航栏*/
.nav {
	width: 100%;
	background-color: #333;
	position: relative;
}
.nav-content {
	width: 1200px;
	height: 50px;
	background-color: #333;
	margin: 0 auto;
	position: relative;
}
.nav-content ul  {
	clear: both;
}
.nav-content ul li {
	width: 90px;
	height: 50px;
	margin-top: -3px;
	float: left;
	line-height:50px ;
	cursor: pointer;
	text-align: center;
	color: #c6c6c6;
}
.nav-content ul li:nth-of-type(10) {
	color: white;
	background-color: red;
	text-align: center;
}
.nav-content ul li:hover {
	background-color: #242424;
	color: white;
}
.nav-content ul .red:hover {
	color: white;
	background-color: red;
}
.nav-content  input {
	width: 200px;
	height: 30px;
	margin-top: 5px;
	margin-left: 50px;
	border-radius:100px ;
	text-indent: 5px;
	border: 1px solid #C6C8CA;
	outline: none;
	color: #ccc;
	background-color: #242424;
	cursor: pointer;
}
.nav-content .icon {
	background: url(../images/img-map.png)no-repeat 0px -13px;
	width: 21px;
	height: 21px;
	border: 0px;
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 12px;
}

#tops-title{
	width: 100%;
	height: 0px;
	background: white;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
#tops-title ul{
	display: none;
}
#tops-title ul{
	left: 50%;
	margin-left: -600px;
	width: 1200px;
	height: 250px;
	background: white;
	position: absolute;
	z-index: 2;
}
#tops-title ul div dl{
	float: left;	
}
#tops-title ul div dl img{
	margin-top: 20px;
	width: 196px;
	height: 140px;
	border-right: 1px solid #6666;
}
#tops-title ul div dl dt{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #666;
}
#tops-title ul div dl dd{
	text-align: center;
	color: red;	
	margin-top: 10px;
	cursor: pointer;
	font-size: 12px;
} 
#tops-title ul div dl:hover dt {
	color: red;
}




/*body内容*/
.body-nav {
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	clear: both;
}
.body-nav .body-left {
	float: left;
	font-size: 30px;
	font-weight: 180px;
	line-height: 90px;
}
.body-nav .body-right {
	float: right;
}
.body-nav .body-right ul li {
	float: left;
	margin-left: 25px;
	margin-top: 36px;
	color: #666;
	text-align: center;
	height: 30px;
}


.select {
	width: 1200px;
	height: 70px;
	border: 1px solid #ccc;
	margin: 0 auto;
	line-height: 70px;
}

.select ul li {
	float: left;
	margin-left: 30px;
	color: #666;
}
.select ul li:nth-child(2){
	color: red;
}










.imges {
	width: 1200px;
	margin: 30px auto;
}
.imges ul {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.imges ul li {
	width: 280px;
	height: 360px;
	border: 1px solid #ccc;
	color: #666;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.imges ul li:hover div {
	color: red;
}
.imges ul li div {
	position: absolute;
	left: 20px;
}
.imges ul li .small  {
	font-size: 12px;
	margin-top: 40px;
}
.imges ul li img {
	height: 230px;
	margin-left: 15px;
	transition: all 0.5s;
}
.imges ul li:hover img {
	transition: all 0.5s;
	transform: scale(1.5);
}
.imges ul li .z {
	display: block;
	background: url(../images/sek.png)no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: -60px;
	opacity: 0.4;
	transition: all 0.5s;
}
.imges ul li:hover .z {
	top: 100px;
	transition: all 0.5s;
}

.imges ul li .q {
	width: 280px;
	position: absolute;
	left: -300px;
	top: 240px;
	border-bottom: 1px solid red;
	top: 220px;
	transition: all 0.5s;
}
.imges ul li:hover .q {
	left:-20px;
	transition: all 0.5s;
}

.imges #uls  {
	display: none;
}
.load {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: #ccc;
	text-align: center;
	line-height: 40px;
	color: #666;
	cursor: pointer;
	
}


















/*选购*/
.body {
	width: 100%;
	color: white;
	overflow: hidden;
	margin-bottom: 10px;
}
.body .body-content {
	width: 1200px;
	height: 130px;
	margin: 0 auto;
	line-height: 130px;

}

.body .body-content ul li{
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin-top: 40px;
	position: relative;
	float: left;
	margin-right:35px;
	margin-left: 10px;
}
.body .body-content ul li i {
	background: url(../images/img-map.png)no-repeat -225px 0px;
	width: 51px;
	height: 41px;
	position:absolute ;
	top: 50%;
	margin-top: -20px;
	transition: all 1s;
}
.body .body-content ul li:hover i {
	transition: all 1s;
	top: 5px;
} 
.body .body-content ul li:hover span {
	color: #333;
}

.body .body-content ul li:nth-of-type(1){
	border-right: 1px solid #ccc;
}
.body .body-content ul li:nth-of-type(2){
	border-right: 1px solid #ccc;
}
.body .body-content ul li:nth-of-type(3){
	border-right: 1px solid #ccc;
}
.body .body-content ul li:nth-of-type(2) i {
	background: url(../images/img-map.png)no-repeat -283px 0px;
	
}
.body .body-content ul li:nth-of-type(3) i {
	background: url(../images/img-map.png)no-repeat -336px 0px;
}
.body .body-content ul li:nth-of-type(4) i {
	background: url(../images/img-map.png)no-repeat -388px 0px;
	margin-left: 60px;
}
.body .body-content ul li span {
	display: block;
	margin-left: 130px;
	color: #9a9a9a;
	
}






/*底部*/

.footer  {
	border-top: 1px solid #ccc;
	overflow: hidden;	
	width: 100%;
}
.footer .footer-nav {

	width: 1200px;
	height: 260px;
	margin: 0 auto;
}
.footer .footer-nav .footer-left{
	width: 600px;
	height: 260px;
	float: left;
}
.footer .footer-nav .footer-left dl {
	float: left;
	margin-right: 84px;
	margin-top: 50px;
	
}
.footer .footer-nav .footer-left dl:nth-of-type(4) {
	margin-right: 0px;
}
.footer .footer-nav .footer-left dl  dt{
	margin-bottom: 30px;
	cursor: pointer;
}
.footer .footer-nav .footer-left dl  dt:hover {
	text-decoration: underline;
}
.footer .footer-nav .footer-left dl  dd{
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 10px;
	color: #666666;
}

.footer .footer-nav .footer-right {
	width: 598px;
	height: 260px;
	float: right;
	/*border: red solid 1px*/
}
.footer .footer-nav .footer-right img {
	margin-top: 55px;
	margin-left:30px ;
}
.footer .footer-nav .footer-right .a {
	float: left;
}
.footer .footer-nav .footer-right .a div {
	font-size: 12px;
	color: #6666;
	margin-left: 40px;
	margin-top: 10px;
}
.footer .footer-nav .footer-right .b {
	float: right;
	margin-top: 55px;
	position: relative;
	
}
.footer .footer-nav .footer-right .b h2 {
	font-size: 30px;
	color: #666;
}
.footer .footer-nav .footer-right .b div {
	font-size: 14px;
	margin-top: 5px;
	margin-left:65px;
	margin-bottom: 15px;
	color: #666;
}
.footer .footer-nav .footer-right .b  a {
	display: block;
	width: 140px;
	margin-top: 15px;
	height: 30px;
	border: 1px solid red;
	margin-left: 70px;
	text-align: center;
	text-decoration: none;
	color: red;
	line-height: 30px;

}
.footer .footer-nav .footer-right .b   i {
	display: block;
	background: url(../images/img-map.png)no-repeat 6px -68px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 83px;
	left: 87px;
}

/*底部导航*/
.foot {
	width: 100%;
	background-color: #f6f6f6;
}
.foot-nav {
	width: 1200px;
	height: 30px;
	background-color: #f6f6f6;
	margin: 0 auto;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
.foot-nav .nav-left ul  {
	float: left;
	width: 600px;
	height: 30px;
}
.foot-nav .nav-left ul li {
	width: 100px;
	height: 25px;
	margin-top: 5px;
	border-right: 1px solid #666;
	float: left;
	text-align: center;
}
.foot-nav .nav-left ul div span {
	font-size: 12px;
}
.foot-nav .nav-left ul li:nth-of-type(4) {
	border-right:0px
}
.foot-nav .nav-left ul li:nth-of-type(5) {
    border-right:0px;
    background: url(../images/11.png);
    width: 107px;
    height: 25px;

}
.foot-nav .nav-right ul  {
	float: right;
}
.foot-nav .nav-right ul li {
	float: left;
}



.top {
	position: absolute;
	bottom:50px;
	right: 0px;
	z-index: 101;
	position: fixed;
	display: none;
}
.top  ul {
	width: 42px;
	height: 40px;
	text-align: center;
	background-color: #A90F0F;
	color: white;
	font-size: 14px;
	z-index: 101;
	border:1px solid red;
	margin-bottom: 5px;
}